:root {
  --color-primary: rgba(11, 10, 9, 1);
  --color-secondary: rgba(223, 225, 215, 1);
  --color-accent: rgba(255, 64, 0, 1);

  --font-main: 'Bebas Neue', sans-serif;
  --font-secondary: 'Trade Gothic LT Std', Arial, sans-serif;
}

body {
  background-color: var(--color-primary);
  min-width: 360px;
  min-height: 640px;
}

@media (max-width: 768px) {
  .workspace-wrapper { padding-inline: 16px; }
  .footer-wrapper { padding-inline: 16px; }
  .works-title { font-size: 3rem; }
}

.page-shell {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  min-height: 100vh;
  overflow: hidden;
}

.page-header {
  padding: 20px 23px 0 23px;
}